<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css' />
<link rel='stylesheet' href='/css/style.css' />
<link rel='stylesheet' href='/css/layout.css' />
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/angular/angular.js"></script>
<script src="/js/keyValueService.js"></script>
<script src="/js/back.js"></script>
<script src="/js/socket.io.js"></script>
</head>
<body ng-app="back">

<h1>等待領取</h1>

<table id="back-table" class="table my-table-hover table-bordered" ng-controller="tableView">
	<tr>
    <th class="col-1">領貨狀態</th>
		<th class="col-1">流水號</th>
		<th class="col-1">姓名</th>
		<th class="col-2">
			{{ key.getType[0] }}<br>
			<img class="table-head" src="images/bird.jpg">
		</th>
		<th class="col-2 gray-bg">
			{{ key.getType[1] }}<br>
			<img class="table-head" src="images/bird.jpg">
		</th>
		<th class="col-2">
			{{ key.getType[2] }}<br>
			<img class="table-head" src="images/squirrel.jpg">
		</th>
		<th class="col-2 gray-bg">
			{{ key.getType[3] }}<br>
			<img class="table-head" src="images/squirrel.jpg">
		</th>
		<th class="col-2">
			{{ key.getType[4] }}<br>
			<img class="table-head" src="images/lib.jpg">
		</th>
		<th class="col-2">
			{{ key.getType[5] }}<br>
			<img class="table-head" src="images/drawstring.jpg">
		</th>
	</tr>
        <tr ng-repeat="row in orders | filter:filter | filter: {status:1}  | orderBy:'seq':true" class="darkgray">
            <td id="status" class="gray" ng-click="changeStatusTo(row,2)">
              <span class="glyphicon glyphicon-ok" aria-hidden="true" ></span>
            </td>
            <td class="mid-font">{{ row.seq }}</td>
            <td class="mid-font">{{ row.name }}</td>
            <td>
                <div class="big-font" ng-repeat="each in row.order" ng-show="each.type_id==0">
                {{ each.size_id}}×<span class="hightlight">{{each.num}}</span>
                </div>
            </td>
            <td class="gray-bg">
                <div class="big-font" ng-repeat="each in row.order" ng-show="each.type_id==1">
                {{ each.size_id}}×<span class="hightlight">{{each.num}}</span>
                </div>
            </td>
            <td>
                <div class="big-font" ng-repeat="each in row.order" ng-show="each.type_id==2">
                {{ each.size_id}}×<span class="hightlight">{{each.num}}</span>
                </div>
            </td>
            <td class="gray-bg">
                <div class="big-font" ng-repeat="each in row.order" ng-show="each.type_id==3">
                {{ each.size_id}}×<span class="hightlight">{{each.num}}</span>
                </div>
            </td>
            <td>
                <div class="big-font" ng-repeat="each in row.order" ng-show="each.type_id==4">
                {{ each.size_id}}×<span class="hightlight">{{each.num}}</span>
                </div>
            </td>
            <td>
                <div class="big-font" ng-repeat="each in row.order" ng-show="each.type_id==5">
                × <span class="hightlight">{{each.num}}</span>
                </div>
            </td>


        </tr>
</table>

<h1>已領取</h1>

<table id="back-table" class="table my-table-hover table-bordered" ng-controller="tableView">
	<tr>
    <th class="col-1">領貨狀態</th>
		<th class="col-1">流水號</th>
		<th class="col-1">姓名</th>
		<th class="col-2">{{ key.getType[0] }}</th>
		<th class="col-2">{{ key.getType[1] }}</th>
		<th class="col-2">{{ key.getType[2] }}</th>
		<th class="col-2">{{ key.getType[3] }}</th>
		<th class="col-2">{{ key.getType[4] }}</th>
		<th class="col-2">{{ key.getType[5] }}</th>
	</tr>
        <tr class="darkgray" ng-repeat="row in orders | filter:filter | filter: {status:2} | orderBy:'seq':true" >
            <td id="status" class="gray" ng-click="changeStatusTo(row,1)">
              <span class="glyphicon glyphicon-ok" aria-hidden="true" ></span>
            </td>
            <td>{{ row.seq }}</td>
            <td>{{ row.name }}</td>
            <td>
                <div ng-repeat="each in row.order" ng-show="each.type_id==0">
                {{ each.size_id}} {{each.num}}個
                </div>
            </td>
            <td>
                <div ng-repeat="each in row.order" ng-show="each.type_id==1">
                {{ each.size_id}} {{each.num}}個
                </div>
            </td>
            <td>
                <div ng-repeat="each in row.order" ng-show="each.type_id==2">
                {{ each.size_id}} {{each.num}}個
                </div>
            </td>
            <td>
                <div ng-repeat="each in row.order" ng-show="each.type_id==3">
                {{ each.size_id}} {{each.num}}個
                </div>
            </td>
            <td>
                <div ng-repeat="each in row.order" ng-show="each.type_id==4">
                {{ each.size_id}} {{each.num}}個
                </div>
            </td>
            <td>
                <div ng-repeat="each in row.order" ng-show="each.type_id==5">
                {{ each.size_id}} {{each.num}}個
                </div>
            </td>


        </tr>
</table>

</body>
 </html>
