<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css' />
<link rel='stylesheet' href='/css/style.css' />
<link rel='stylesheet' href='/css/layout.css' />
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/angular/angular.js"></script>
<script src="/js/keyValueService.js"></script>
<script src="/js/back.js"></script>
<script src="/js/socket.io.js"></script>
</head>
<body ng-app="back">

<h1>等待領取</h1>

<table id="back-table" class="table my-table-hover table-bordered" ng-controller="tableView">
	<tr>
        <th class="col-md-1">領貨狀態</th>
    		<th class="col-md-2">流水號</th>
    		<th class="col-md-2">姓名</th>
    		<th class="col-md-2">商品清單</th>
    		<th class="col-md-1">備註</th>
    	</tr>
        <tr ng-repeat="row in orders | filter:filter | filter: {status:1}  | orderBy:'seq':true" class="hightlight">
            <td id="status" class="gray" ng-click="changeStatusTo(row,2)">
              <span class="glyphicon glyphicon-ok" aria-hidden="true" ></span>
            </td>
            <td>{{ row.seq }}</td>
            <td>{{ row.name }}</td>
            <td>
                <div ng-repeat="each in row.order">
                {{ key.getType[each.type_id] }} {{ each.size_id}} {{each.num}}個
                </div>
            </td>
            <td>{{ key.getNote[row.type] }}</td>


        </tr>
</table>

<h1>已領取</h1>

<table id="back-table" class="table my-table-hover table-bordered" ng-controller="tableView">
	<tr >
        <th class="col-md-1">領貨狀態</th>
    		<th class="col-md-2">流水號</th>
    		<th class="col-md-2">姓名</th>
    		<th class="col-md-2">商品清單</th>
    		<th class="col-md-1">備註</th>
    	</tr>
        <tr class="darkgray" ng-repeat="row in orders | filter:filter | filter: {status:2} | orderBy:'seq':true" >
            <td id="status" class="gray" ng-click="changeStatusTo(row,1)">
              <span class="glyphicon glyphicon-ok" aria-hidden="true" ></span>
            </td>
            <td>{{ row.seq }}</td>
            <td>{{ row.name }}</td>
            <td>
                <div ng-repeat="each in row.order">
                {{ key.getType[each.type_id] }} {{ each.size_id}} {{each.num}}個
                </div>
            </td>
            <td>{{ key.getNote[row.type] }}</td>


        </tr>
</table>

</body>
 </html>
