<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/css/style.css' />
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/js/front.js"></script>
  </head>
  <body ng-app="front">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <table id="front-table" class="table my-table-hover table-style" ng-controller="tableView">
    	<tr>
        <th>領貨狀態</th>
    		<th>姓名</th>
    		<th>電話</th>
    		<th>Email</th>
    		<th>商品清單</th>
    		<th>備註</th>
    	</tr>
        <tr ng-repeat="row in rows" ng-click="changeStatus(row)" ng-class="{ 'hightlight': row.status!=null }">
            <td id="status" class="green">
              <span class="glyphicon glyphicon-ok" aria-hidden="true" ng-show="row.status != null"></span>
            </td>
            <td>{{ row.name }}</td>
            <td>{{ row.contact.phone }}</td>
            <td>{{ row.contact.email }}</td>
            <td>
                <div ng-repeat="each in row.order">
                {{ key.getType[each.type_id] }} {{ each.size_id}} {{each.num}}個
                </div>
            </td>
            <td>{{ key.getNote[row.type] }}</td>


        </tr>
    </table>
    
  </body>
</html>
