<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<script src="http://code.jquery.com/jquery-2.1.3.min.js"></script>
</head>
<body>
<h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

<style>
td, tr{
	border: 1px;
	border-style: solid;
}
</style>

	<button id="getJSON">get JSON data</button>
	</br>
<div id="raw"></div>


<script src="/js/stringService.js"></script>
<script src="/js/stringParser.js"></script>


</body>
</html>