body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.pointer {
  cursor: pointer;
}

.hightlight {
	color: #25A0A2;
}

.my-table-hover tr:hover > td {
	background-color: #D4EDEE;
}

#status {
	cursor: pointer;
}

#status:hover {
	color: #74C6C7;
}

/* Color code */

.green {
  color: #307D7E;
}

.gray {
	color: #F2F2F2;
}

.darkgray {
	color: #555;
}


.col-1 {
	width: 6.6%;
}
.col-2 {
	width: 13.2%;
}

.big-font {
	font-size: 42px;
}

.mid-font {
	font-size: 18px;
}

img.table-head {
	//max-height: 180px;
	max-width: 120px;
}

.gray-bg {
	background-color: #eee;
}