body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.pointer {
  cursor: pointer;
}

.hightlight {
	color: #25A0A2;
}

.my-table-hover tr:hover {
	background-color: #D4EDEE;
}

#status {
	cursor: pointer;
}

#status:hover {
	color: #74C6C7;
}

/* Color code */

.green {
  color: #307D7E;
}

.gray {
	color: #F2F2F2;
}

